.form label{
    float:left;
    width: 10%;
    text-align:left;
}

input:invalid { 
    box-shadow: 0 0 1px 1px red;
}

.invalid { 
    box-shadow: 0 0 1px 1px red;
}

.TextWrap{
    float: right;
    margin: 30px;
}